<footer class="footer-section">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/eng/assets/img/logo/semisol_logo_white.png" alt="SEMISOL Logo">
        </div>
        <div class="footer-info">
            <p>SEMISOL Co., Ltd.</p>
            <p>OFFICE: 1104-1108, Building B, Osan Hyundai Terra Tower CMC,  
            35 Sumogwon-ro 88beon-gil, Osan-si, Gyeonggi-do, South Korea</p>
            <p>TEL: +82-31-8077-4823 &nbsp;&nbsp; FAX: +82-31-8077-4853</p>
            
        </div>
    </div>
</footer>
