<!-- 네비게이션 바 -->
<header id="_header" class="navbar">
    <div class="wrap">
        <!-- 로고 -->
        <a href="/eng/index.html"><img src="/eng/assets/img/logo/semisol_logo_white.png" class="logo"></a>
            
        <!-- 메뉴 -->
        <ul class="gnb">
            <li><a href="/eng/about/ceo.html"><b>About Us</b></a>
                <ul class="depth2">
                    <li><a href="/eng/about/ceo.html">Message from the CEO</a></li>
                    <li><a href="/eng/about/organization.html">Organization Chart</a></li>
                </ul>
            </li>
            <li><a href="/eng/products/parts/01.html"><b>Products</b></a>
                <ul class="depth2">
                    <li><a href="/eng/products/parts/01.html">Parts</a></li>
                    <li><a href="/eng/products/equip/08.html">Equipment</a></li>
                </ul>
            </li>
            <li><a href="/eng/contact.html"><b>Contact</B></a></li>
        </ul>

        <!-- 언어 선택 -->
        <div class="lang">
            <button type="button" class="lang-button" id="lang-button">
                 <i class="fas fa-globe"></i>
                ENG
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="lang-menu">
                <li><a href="#" id="korLink">KOR</a></li>
                <li><a href="#" id="engLink">ENG</a></li>
            </ul>    
        </div>
        <!-- 햄버거 바 버튼 -->
        <button type="button" class="mnu" id="hamburger-button">
            <i class="fas fa-bars"></i>
        </button>

        <!-- 슬라이드 메뉴 -->
        <nav class="slide-menu" id="slide-menu">
            <div class="menu-header">
                <img src="/eng/assets/img/logo/semisol_logo.png" alt="Logo" class="menu-logo">
                <button type="button" class="close-btn" id="close-button">
                    <i class="fas fa-times"></i> 
                </button>
            </div>
            <div class="lang-switch">
                <a href="#" id="korButton" class="lang-button">KOR</a>
                <a href="#" id="engButton" class="lang-button">ENG</a>
            </div>
            <ul class="menu-list">
                <li>
                    <div class="menu-item">
                        About Us<i class="fas fa-chevron-down toggle-arrow"></i>
                    </div>
                    <ul class="submenu">
                        <a href="/eng/about/ceo.html"><li>CEO Message</li></a>
                        <a href="/eng/about/organization.html"><li> Organization Chart</li></a>
                    </ul>
                </li>
                <li>
                    <div class="menu-item">
                        Products <i class="fas fa-chevron-down toggle-arrow"></i>
                    </div>
                    <ul class="submenu">
                        <a href="/eng/products/parts/01.html"><li>Parts</li></a>
                        <a href="/eng/products/equip/08.html"><li>equipment</li></a>
                    </ul>
                </li>
                <li>
                    <a href="/eng/contact.html">
                    <div class="menu-item">
                        Contact
                    </div></a>
                </li>                        
            </ul>
        </nav>
    </div>
</header> 