/************************************************

                    Footer
     
*************************************************/

.footer-section {
    background-color: black;
    padding: 50px;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer-logo img {
    width: 150px; 
}

.footer-info {
    text-align: right;
}

.footer-info p {
    font-size: 14px;
    margin: 5px 0;
}


@media screen and (max-width: 768px) {
    .footer-section {
        padding: 40px;
    }

    .footer-content {
        display: block; 
        text-align:left;
    }
    
    .footer-logo {
        margin-bottom: 15px;
    }

    .footer-info {
        text-align:left;
    }

    .footer-info p {
        margin: 5px 0;
    }
}